# Node
node_modules/

# Frontend build
dist/

# Environment
.env

# Logs
*.log

# Mosquitto runtime
mosquitto/data/
mosquitto/log/

# Docker persistent data
postgres_data/
redpanda_data/
vm_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
